<div class="row">
    <div class="col-md-6">
        <div class="jumbotron py-3">
            <h4 class="display-5 text-center"> Customer Detail Entry</h4>
        </div>
        <app-customer-detail-form></app-customer-detail-form>
    </div>
    <div class="col-md-6">
        <table class="table col-md-12">
            <thead class="thead-light">
                <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Mobile</th>
                    <th>Email</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let customerDetail of detailService.Detaillist">
                    <td (click)="onPopulate(customerDetail)">{{customerDetail.customerFirstName}} {{customerDetail.customerLastName}}</td>
                    <td (click)="onPopulate(customerDetail)">{{customerDetail.customerAddress}}, pin: {{customerDetail.customerPostalCode}}</td>
                    <td (click)="onPopulate(customerDetail)">{{customerDetail.customerMobileNumber}}</td>
                    <td (click)="onPopulate(customerDetail)">{{customerDetail.customerEmail}}</td>
                    <td><i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(customerDetail.customerId!)"></i></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
